---
// layout
import Layout from '../layouts/Layout.astro'

// components
import About from '../components/About.astro'
---

<Layout>
    <main class="flex flex-col items-center px-10 lg:px-0">
        <div class="flex max-w-3xl flex-col">
            <div
                class="mt-0 flex flex-row flex-wrap-reverse justify-center md:mt-10 md:flex-nowrap"
            >
                <About />
            </div>
        </div>
    </main>
</Layout>
