---
import Layout from '../layouts/Layout.astro'
import Intro from '../components/Intro/Intro.astro'
import TechStack from '../components/TechStack.astro'
import SectionDivider from '../components/SectionDivider.astro'
import FeaturedProjects from '../components/Projects/FeaturedProjects.astro'
import Skills from '../components/Skills.astro'
---

<Layout title="Chris Nowicki">
  <div class="flex w-full flex-col items-center px-4 md:px-0">
    <Intro />
    <TechStack />
    <SectionDivider />
    <FeaturedProjects />
    <SectionDivider />
    <Skills />
    <SectionDivider />
  </div>
</Layout>
