---
import Icon from 'astro-icon'

type Record<K extends string, T> = {
  [P in K]: T
}

const { contactInfo, URL } = Astro.props
---

<a
  href={URL}
  class="group flex items-center gap-2 rounded-lg border border-borderColor-light bg-gray-300/20 p-4 px-4 py-2 hover:bg-gray-300/40 dark:border-borderColor-dark dark:bg-gray-300/10 dark:hover:bg-gray-300/20"
  target={URL === '/#contact' ? '_self' : '_blank'}
>
  {contactInfo.text}
  <Icon name={contactInfo.icon} class={contactInfo.style} />
</a>
