---
import { getMetrics } from '../../lib/metrics'
import Icon from 'astro-icon'

const { socialLinks } = Astro.props

const githubLink = socialLinks.filter((link: any) => link.name === 'GitHub')[0]
const twitterLink = socialLinks.filter(
  (link: any) => link.name === 'Twitter'
)[0]

const metrics = await getMetrics()

---

<div
  class="flex w-full flex-col items-center justify-center gap-2 rounded-lg border border-borderColor-light p-4 hover:border-purple-light dark:border-gray-300/20 dark:hover:border-purple-dark md:w-1/2"
>
  <span class="flex items-center gap-2">
    <Icon name="trendinguparrow" class="w-5 animate-pulse transition-all" />
    <span class="text-purple-light dark:text-purple-dark">
      {metrics.tweetCount.toLocaleString()}
    </span>{' '}
     posts on{' '}
    <a
      href={twitterLink.URL}
      class="hover:scale-110 hover:text-purple-light hover:duration-75 hover:ease-in-out dark:hover:text-purple-dark"
      target="_blank"
    >
      <Icon name="twitter" class="w-6" />
    </a>
  </span>
  <span class="flex items-center gap-2">
    <Icon name="trendinguparrow" class="w-5 animate-pulse transition-all" />
    <span class="text-purple-light dark:text-purple-dark">
      {metrics.githubCommits.toLocaleString()}
    </span>
    <a
      href={githubLink.URL}
      class="hover:scale-110 hover:text-purple-light hover:duration-75 hover:ease-in-out dark:hover:text-purple-dark"
      target="_blank"
    >
      <Icon name="github" class="w-6" />
    </a>
     commits
  </span>
</div>
